<section id="tutorialArea">
</section><!-- /#tutorialArea -->
<section id="uploadArea">
  <%= form_for @content do |f| %>
    <div class="body">
      <%= f.label :body %>
      <%= f.file_field :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</section><!-- /#uploadArea -->
