		<section id="tutorialArea">
		</section><!-- /#tutorialArea -->
		<section id="uploadArea">
			<form action="" method="" enctype="multipart/form-data">
				<input type="file" name="" id="upload" />
			</form>
		</section><!-- /#uploadArea -->