.image{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.image img{
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	padding: 15px;
	max-width: 970px;
}
#sns{
	width: 300px;
	margin: 0 auto;
	height: auto;
	line-height: 50px;
	padding-bottom: 70px;
}
#info{
	text-align: center;
	font-size: 15px;
	display: inline-block;
	margin-bottom: 20px;
}
#twitter{
	height: 100%;
	float: left;
	display: inline-block;
}
#fb{
	height: 100%;
	float: left;
	display: inline-block;
}
#back{
	width: 100%;
	text-align: center;
}
#back a{
	display: inline-block;
	width: 200px;
	height: 40px;
	text-decoration: none;
	color:#FFF;
	background: #3498DB;
	line-height: 40px;
	border-radius: 10px;
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
	.image img{
		box-shadow:0px 0px 5px rgba(0,0,0,0.5);
		padding: 5%;
		max-width: 90%;
	}
	#sns{
		width: 96%;
		margin: 0 2%;
		height: auto !important;
		line-height: normal !important;
		padding-bottom: 70px;
		text-align: center;
	}
	#info{
		width: 100%
	}
	#snsButton{
		margin: 0 auto;
		display: inline-block;
	}
	#back a{
		width: 100%;
	}
}