.image{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.image img{
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	padding: 15px;
	max-width: 970px;
}
#sns{
	width: 300px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	padding: 70px;
}
#info{
	text-align: center;
	font-size: 15px;
	display: inline-block;
	margin-bottom: 20px;
}
#twitter{
	height: 100%;
	float: left;
	display: inline-block;
}
#fb{
	height: 100%;
	float: left;
	display: inline-block;
}